.list-menu{
  display: flex;
  list-style: none;
}
.list-menu > li > a{
  color: #fff;
  display: block;
  padding: 5px 15px;
}
.list-menu > li > a:hover{
  background: #000;
}

#btn-menu{
  display: none;
}
#btn-menu + label{
  display: none; 
  position: relative;
  color: #fff; 
  height: 20px;
  z-index: 1;
  cursor: pointer;
}
#btn-menu + label:before{
  content: '\f0c9';  
  display: inline-block;
  font-family:'FontAwesome';
  font-size: 33px;
}
#btn-menu:checked + label:before{
  content: '\f00d';
  color: #f00;
  position: absolute;
  right: -100px;

}

@media screen and (max-width: 767px) {
 
   #btn-menu + label{
      display: inline-block;
   }
  #btn-menu + label + .list-menu{
    display: none;
  }
  #btn-menu:checked + label + .list-menu{
    display: block;
  }
  .nav {
  top: 40px;
  right: 3%;
  position: absolute;
  box-shadow: 0 0 20px 10px rgba(25, 25, 25, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: #39613a;
}
}