.header {
	background-image: url('../img/rectangle-1-copy.png');
	padding-top: 38px;
}
.logo {
	float: left;
	display: block;
}

.logo a{
	color: #fff;
	text-decoration: none;
	font-family: "Myriad Pro";
	font-size: 30px;
	height: 33px;
	font-weight: bold;
}
.logo img {
	width: 56px;
	margin-bottom: -3px;
}
.nav {
	float: right;
	top:  13px;
	right: 0;
}
.nav-bar {
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: inline-flex;
}
.nav-bar a {
	color: #ffffff;
	text-decoration: none;
	padding: 10px 10px;
	font-size: 21px;
	display: block;
}
.nav-bar a:hover {
	text-decoration: underline;
}
.buy_button {
	border: 2px solid #fff;
}
.nav-bar .buy_button:hover {
	text-decoration: none;
	background-color: #72af5a;
}
.header_content img {
	max-width: 200px;
	
}
.header_content {
	text-align: center;
	padding-bottom: 67px;
}
.desciption {
	text-align: center;
	padding-bottom: 119px;
}
.description_item {
	max-width: 200px;
	padding-top: 71px;
}
.consist {
	background-color: #2b342b;
	text-align: center;
}
.consist_item {
	width: 280px;
	padding-top: 47px;
	position: relative;
	text-align: center;
	margin: 0 auto;
}



.block-rt_p {
	color: #fff;
	padding-bottom: 10px;
}


.block-rb_p {
	color: #fff;
padding-bottom: 10px;
}


.block-lt-p {
	color: #fff;
padding-bottom: 10px;
}


.block-lb-p {
	color: #fff;
	padding-bottom: 10px;
}


.section-price {
	padding: 85px 0;
}

.price {
	background-color: #e9ede9;
	text-align: center;
	
}
.price_block {
	background-color: #e2e4e1;
	display: inline-block;
	margin: 0 auto;
	width: 30%;
	min-width: 200px;
	margin: 10px 1%;
}
.title_price {
	font-family: "Myriad Pro";
	font-size: 33px;
	line-height: 35px;
	color: #7d7b7b;
	padding: 34px 10px;
}
.title_price span {
	color: #afacac;
}
.sub-title_price{
	color: #4e4e4e;
	font-size: 32px;
	font-family: "Myriad Pro";
	padding: 0 10px;
}
.price_count {
	color: #b38e48;
	font-size: 32px;
	font-family: "Myriad Pro";
	padding: 16px 10px;
}
.details_button {
	display: block;
	background-color: #71ae5a;
	border: 1px solid #71ae5a;
	border-radius: 5px;
	text-decoration: none;
	color: #e9ede9;
	padding: 13px 18px 8px;
	margin: 20px 20%;
}

.footer {
	background-color: #e9ede9;
}
.section-footer{
	position: relative;
}
.nav-bar-bottom_item a {
	color: #747373;
	font-size: 18px;
	padding-right: 15px;
	text-decoration: none;
}
.nav-bar-bottom_item a:hover {
	color: #000;
	text-decoration: underline;
}
.copyright {
	color: #958f8f;
	font-size: 18px;
	padding: 15px 0;
}
.button_top {
	position: absolute;
	bottom: 25px;
	right: 10px;
	width: 48px;
	height: 48px;
	background: #3e6940 url('../img/shape-2.png') no-repeat;
	background-position: 50% 45%;
	border-radius: 50%;
	text-align: center;
	line-height: 48px;
}
.button_top:hover {
	background: #72af5a url('../img/shape-2.png') no-repeat;
	background-position: 50% 45%;
}




@media screen and (min-width: 651px){
	.block-rt {
	background-image: url('../img/3-layers-right.png');
	position: absolute;
	top: 90px;
	left: 234px;
	width: 214px;
	height: 62px;
}

.block-rt_p {
	color: #fff;
	position: absolute;
	top: -22px;
	right: 0;
}

.block-rb {
	background-image: url('../img/2-layers_right.png');
	position: absolute;
	top: 186px;
	left: 210px;
	width: 181px;
	height: 24px;
}
.block-rb_p {
	color: #fff;
	position: absolute;
	top: -10px;
	right: 0;
}
.block-lt {
	background-image: url('../img/3-layers.png');
	position: absolute;
	top: 145px;
	left: -165px;
	width: 205px;
	height: 35px;
}
.block-lt-p {
	color: #fff;
	position: absolute;
	top: 7px;

}
.block-lb {
	background-image: url('../img/2-layers.png');
	position: absolute;
	bottom: 11px;
	left: -50px;
	width: 198px;
	height: 21px;	
}

.block-lb-p {
	color: #fff;
	position: absolute;
	top: -12px;
}


}
@media screen and (max-width: 650px){
.block-lb::after {
	height: 3px;
	width: 20px;
	background: green;
}
.block-rt_p::after {
	content: '';
	position: absolute;
	display: inline-block;
	height: 4px;
	width: 88px;
	background: #d5fa7b;
	bottom: 82px;
	left: 96px;
}
.block-rb_p::after {
	content: '';
	position: absolute;
	display: inline-block;
	height: 4px;
	width: 75px;
	background: #8cdbf2;
	bottom: 56px;
	left: 102px;
}
.block-lt-p::after {
	content: '';
	position: absolute;
	display: inline-block;
	height: 4px;
	width: 100px;
	background: #fd6363;
	bottom: 30px;
	left: 90px;
}
.block-lb-p::after {
	content: '';
	position: absolute;
	display: inline-block;
	height: 4px;
	width: 66px;
	background: #fef45a;
	bottom: 4px;
	left: 107px;
}
}